/* header */
#header-container h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    font-family: Apple Chancery, cursive;
    letter-spacing: 2px;
    color: #3452bb;
}

#header-container {
    text-align: center;
    padding: 10px;
}

#header-container a:hover {
    color: inherit;
}

/* navigation */
#navigation-container {
    float: inline-start;
}

#navigation-container ul {
    float: inherit;
    text-align: center;
}

#navigation-container ul li {
    display: inline-block;
    line-height: 40px;
}

#navigation-container ul li a {
    color: #000000;
    font-size: 17px;
    text-transform: uppercase;
    margin: 0 10px;
    border-radius: 3px;
}

#navigation li:hover a {
    color: #3452bb;
}

#navigation .active {
    color: #3452bb;
}

/* navigation bar mobile responsiveness */
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label, input[type="checkbox"]:checked + label {
    background-image: url('/comp20-midterm/images/list.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;

    position: absolute;
    top: 20px;
    left: 10px;
    color: #000000;
    line-height: 40px;
    cursor: pointer;
    display: none;
    margin-left: 5px;
}

@media (max-width: 858px) {
    input[type="checkbox"] + label, input[type="checkbox"]:checked + label {
        display: block;
    }
    #check:checked ~ ul {
        left: 0;
        transition: 0.5s;
    }
    #navigation-container ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #ffffff;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 999;
    }
    #navigation-container ul li:first-child {
        margin: 10px 0px;
    }
    #navigation-container ul li {
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }
}